* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 16px;
}

.nav-container ul {
  display: flex;
  gap: 32px;
  list-style: none;
}

.nav-container ul li a {
  text-decoration: none;
  color: #000;
}

.nav-container button {
  background-color: #469165;
  border-radius: 5px;
  padding: 16px;
  font-weight: 600;
  color: #fff;
  border: none;
  font-size: 16px;
}

#banner .banner-container {
  background-image: url("./assets/hero-bg.png");
  height: 674px;
  width: 100%;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
}

.banner-container .banner-items {
  align-items: center;
  margin: 0 auto;
}

.banner-items .early-btn {
  width: 229px;
  height: 35px;
  border-radius: 1000px;
  font-size: 16px;
  color: #469165;
  font-weight: 500;
  margin-bottom: 16px;
  border: none;
}

.banner-items h1 {
  text-transform: capitalize;
  color: #fff;
  text-align: center;
  margin-bottom: 16px;
  font-size: 84px;
}

.banner-items h1 span {
  color: #30b868;
}

.banner-items p {
  color: #fff;
  line-height: 24px;
  font-size: 18px;
  max-width: 770px;
  margin-bottom: 32px;
}

.banner-items .start-btn,
.banner-items .see-btn {
  padding: 16px;
  border-radius: 5px;
  height: 52px;
  width: 251px;
  background-color: #469165;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  border: none;
  margin: 0 8px;
}

.banner-items .see-btn {
  background: none;
  border: 2px solid #fff;
}
