* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 16px;
}

.nav-container ul {
  display: flex;
  gap: 32px;
  list-style: none;
}

.nav-container ul li a {
  text-decoration: none;
  color: #000;
}

.nav-container button {
  background-color: #469165;
  border-radius: 5px;
  padding: 16px;
  font-weight: 600;
  color: #fff;
  border: none;
  font-size: 16px;
}

.nav-container button:hover{
  background: none;
  border: 2px solid #469165;
  color: #469165;
  transition: 0.2s;
}

#banner .banner-container {
  background-image: url("./assets/hero-bg.png");
  height: 674px;
  width: 100%;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
}

.banner-container .banner-items {
  align-items: center;
  margin: 0 auto;
}

.banner-items .early-btn {
  width: 229px;
  height: 35px;
  border-radius: 1000px;
  font-size: 16px;
  color: #469165;
  font-weight: 500;
  margin-bottom: 16px;
  border: none;
}

.banner-items .early-btn:hover{
  background: #469165;
  color: #fff;
  transition: 0.2s;
  font-size: 17px;
}

.banner-items h1 {
  text-transform: capitalize;
  color: #fff;
  text-align: center;
  margin-bottom: 16px;
  font-size: 84px;
}

.banner-items h1 span {
  color: #30b868;
}

.banner-items p {
  color: #fff;
  line-height: 24px;
  font-size: 18px;
  max-width: 770px;
  margin-bottom: 32px;
}

.banner-items .start-btn,
.banner-items .see-btn {
  padding: 16px;
  border-radius: 5px;
  height: 52px;
  width: 251px;
  background-color: #469165;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  border: none;
  margin: 0 8px;
}

.banner-items .see-btn {
  background: none;
  border: 2px solid #fff;
}

.banner-items .start-btn:hover{
  background: none;
  border: 3px solid #fff;
  transition: 0.2s;
}

.banner-items .see-btn:hover{
  background: #469165;
  border: none;
  transition: 0.2s;
}

#note .note-container {
  text-align: center;
}

.note-container h1 {
  font-size: 48px;
  color: #001931;
  margin-top: 36px;
  text-transform: capitalize;
}

.note-container p {
  font-size: 16px;
  color: #627382;
  line-height: 20px;
  margin-top: 16px;
}

.note-container .cards-container {
  display: flex;
  gap: 24px;
  justify-content: space-around;
  margin: 44px auto 120px;
  max-width: 1360px;
}

.cards-container .card {
  height: 300px;
  box-shadow: 0 6px 50px 0 #00000010;
}

.cards-container .card img {
  height: 60px;
  width: 60px;
  padding: 12px;
  border-radius: 100%;
  background-color: #f95555;
  margin-top: 69px;
}

.cards-container .card h2 {
  font-size: 24px;
  font-weight: 600;
  color: #001931;
  width: 274px;
  text-transform: capitalize;
}

.cards-container .card p {
  font-size: 16px;
  line-height: 20px;
  color: #627382;
  width: 274px;
}

#brain {
  display: flex;
  align-items: center;
  gap: 60px;
  margin: 0 auto;
  justify-content: space-around;
  max-width: 1360px;
}

#brain .brain-text {
  width: 500px;
}

#brain .brain-text .green-text {
  color: #469165;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.brain-text h1 {
  font-size: 48px;
  font-weight: bold;
  text-transform: capitalize;
  margin-top: 16px;
}

.brain-text .detail {
  font-size: 16px;
  line-height: 20px;
  color: #627382;
  margin: 16px 0 40px 0;
}

.brain-text ul li {
  list-style: none;
  font-size: 16px;
  line-height: 20px;
  color: #001931;
  font-weight: 400;
  margin-bottom: 16px;
}

#think {
  text-align: center;
}

#think .think-container {
  background-color: #f7f6f2;
  width: 1360px;
  height: 384px;
  margin-top: 120px;
  display: inline-block;
  text-align: center;
  border-radius: 12px;
}

.think-container h1 {
  margin-top: 80px;
  font-size: 40px;
  font-weight: bold;
  text-transform: capitalize;
}

.think-container p {
  font-size: 16px;
  line-height: 24px;
  color: #627382;
  margin: 16px auto 0;
  width: 600px;
}

.think-container button {
  padding: 16px;
  border-radius: 5px;
  height: 52px;
  width: 194px;
  background-color: #469165;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  border: none;
  margin-top: 24px;
}

.think-container button:hover{
  background: none;
  border: 2px solid #469165;
  color: #469165;
  transition: 0.2s;
}

footer .footer-container {
  margin: 120px auto 0;
  display: flex;
  gap: 60%;
  justify-content: space-around;
  background-color: #001931;
  padding: 120px 0;
}

.social-links p {
  font-size: 20px;
  line-height: 28px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 16px;
}

.social-links a {
  height: 20px;
  width: 20px;
  padding: 5px;
  border-radius: 100%;
  background: #fff;
  margin-right: 16px;
}

footer .copy-right-text {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fafafa;
  background: #001931;
  padding: 30px 0;
  border-top: 0.1px solid #e5e7eb4a;
}
