* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 16px;
}

.nav-container ul {
  display: flex;
  gap: 32px;
  list-style: none;
}

.nav-container ul li a {
  text-decoration: none;
  color: #000;
}

.nav-container button {
  background-color: #469165;
  border-radius: 5px;
  padding: 16px;
  font-weight: 600;
  color: #fff;
  border: none;
  font-size: 16px;
}
